In [17]:
import pandas as pd
import warnings
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from joblib import dump

In [18]:
data=pd.read_csv("startup data.csv")

In [19]:
data.columns

Index(['Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'labels', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'],
      dtype='object')

In [20]:
data.drop(columns=['Unnamed: 0'], inplace=True)

In [31]:
data = data[['city', 'state_code']]
data.head()

            city state_code
0      San Diego         CA
1      Los Gatos         CA
2      San Diego         CA
3      Cupertino         CA
4  San Francisco         CA

In [21]:
data.head()

,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,1/1/2007,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,1/1/2000,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,3/18/2009,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,1/1/2002,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,8/1/2010,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [22]:
data.to_csv('startup_data_processed.csv', index=False)

In [23]:
data.columns

Index(['state_code', 'latitude', 'longitude', 'zip_code', 'id', 'city',
       'Unnamed: 6', 'name', 'labels', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'],
      dtype='object')

In [24]:
data.city.unique()

array(['San Diego', 'Los Gatos', 'Cupertino', 'San Francisco',
       'Mountain View', 'San Rafael', 'Williamstown', 'Palo Alto',
       'Menlo Park', 'Louisville', 'Brooklyn', 'Denver', 'Vienna',
       'Los Altos', 'Burlingame', 'New York', 'Austin', 'Seattle',
       'Boulder', 'Chicago', 'Berkeley', 'Santa Ana', 'Moffett Field',
       'Durham', 'Pittsburgh', 'San Jose', 'Atlanta', 'Manchester',
       'Sunnyvale', 'Cambridge', 'San Mateo', 'South San Francisco',
       'Boston', 'Waltham', 'Aliso Viejo', 'Kansas City', 'Wilmington',
       'Kirkland', 'Tampa', 'Alameda', 'Bothell', 'Dallas', 'Fremont',
       'Santa Clara', 'Princeton', 'Loveland', 'Kearneysville',
       'Los Angeles', 'Canton', 'Bellevue', 'Washington', 'Somerset',
       'Alpharetta', 'Charlottesville', 'Dulles', 'Bloomfield',
       'Santa Monica', 'Milpitas', 'Raleigh', 'Somerville',
       'Redwood City', 'Timonium', 'Reston', 'Cincinnati', 'Campbell',
       'Sterling', 'Foster City', 'Oakland', 'Petaluma', 'Arlington',
       'Centennial', 'Memphis', 'Plymouth', 'Conshohocken', 'Needham',
       'Newport Beach', 'Longmont', 'Naperville', 'Pasadena',
       'Warrenville', 'Berwyn', 'Morgan Hill', 'Marlborough',
       'Playa Vista', 'Providence', 'Monterey Park', 'Plano',
       'Bingham Farms', 'Philadelphia', 'Freedom', 'Bethesda', 'Portland',
       'Allentown', 'North Billerica', 'Duluth', 'Boxborough',
       'Salt Lake City', 'The Woodlands', 'Burlington', 'Weston',
       'Santa Barbara', 'Columbia', 'SPOKANE', 'Maynard', 'Frederick',
       'West Newfield', 'Long Island City', 'NY', 'Englewood',
       'Solana Beach', 'NW Atlanta', 'Bala Cynwyd', 'San Bruno',
       'Evanston', 'Carlsbad', 'West Hollywood', 'San Franciso',
       'Richardson', 'Zeeland', 'Herndon', 'Paramus', 'Minneapolis',
       'Addison', 'Irvine', 'Woburn', 'New York City', 'Larkspur',
       'Henderson', 'McLean', 'Lowell', 'Woodbury', 'Littleton',
       'Glendale', 'Billerica', 'Broomfield', 'Beverly Hills', 'Hartford',
       'Greenwood Village', 'College Park', 'Napa', 'Itasca', 'Lexington',
       'Calabasas', 'North Reading', 'Lindon', 'Albuquerque', 'Red Bank',
       'Bethlehem', 'Saint Louis', 'Indianapolis', 'New Hope',
       'North Hollywood', 'Waco', 'Carpinteria', 'West Chester',
       'Nashville', 'Bedford', 'Belmont', 'Puyallup', 'Chevy Chase',
       'Chantilly', 'Lake Oswego', 'Tewksbury', 'Dedham', 'Lawrenceville',
       'Jersey City', 'NYC', 'Annapolis', 'Las Vegas', 'Andover',
       'Minnetonka', 'Vancouver', 'Pleasanton', 'El Segundo',
       'Farmington', 'Nashua', 'Saint Paul', 'Sunnnyvale', 'Champaign',
       'Golden Valley', 'Pittsboro', 'Brisbane', 'Westford', 'Emeryville',
       'Hollywood', 'Viena', 'Hillsborough', 'Potomac Falls', 'Tempe',
       'Tualatin', 'Framingham', 'Rye Brook', 'Redmond', 'Yardley',
       'Kenmore', 'Laguna Niguel', 'La Jolla', 'Cleveland', 'Lancaster',
       'Thousand Oaks', 'Provo', 'Columbus', 'Arcadia', 'Yorba Linda',
       'San Carlos', 'Acton', 'Newton', 'Toledo', 'Torrance',
       'Altamonte Springs', 'Westport', 'Chelmsford', 'El Segundo,',
       'Hampton', 'Idaho Falls', 'Scotts Valley', 'Avon', 'Little Rock',
       'Lisle', 'Houston', 'Middleton'], dtype=object)

In [25]:
data.state_code.unique()

array(['CA', 'MA', 'KY', 'NY', 'CO', 'VA', 'TX', 'WA', 'IL', 'NC', 'PA',
       'GA', 'NH', 'MO', 'FL', 'NJ', 'WV', 'MI', 'DC', 'CT', 'MD', 'OH',
       'TN', 'MN', 'RI', 'OR', 'UT', 'ME', 'NV', 'NM', 'IN', 'AZ', 'ID',
       'AR', 'WI'], dtype=object)

In [26]:
data['city']

0          San Diego
1          Los Gatos
2          San Diego
3          Cupertino
4      San Francisco
           ...
918    San Francisco
919       Burlington
920        Sunnyvale
921    San Francisco
922      Santa Clara
Name: city, Length: 923, dtype: object

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(data['city'])

array([173, 108, 173,  55, 174, 125, 125, 178, 214, 143, 117, 117, 109,
        32,  58, 203, 106,  34, 135, 143,  13, 184, 143, 174,  29,  48,
       143,  19,  13, 179, 122, 184,  61, 174, 149, 135, 174, 176, 174,
       135,  12, 112, 117, 184, 191, 191, 135,  37, 174, 177, 188,  27,
        13, 205, 174, 143, 143,   4, 191,  88, 215, 174,  91, 192,  27,
         2,  28,  29, 177, 174, 174, 191, 192, 174,  56,  72, 181, 174,
       135,  37, 174, 156, 110, 125, 135,  89, 107,  39, 125,  17, 181,
       207, 174, 174, 135, 125,  48, 186, 174,  19,   6, 184,  17, 176,
       174,  45,  59,  48, 174,  26, 182, 181, 119, 117, 173, 174,  34,
       160, 135, 135, 187, 163,  13, 135,  72, 205, 197, 149, 164,  72,
       135,  48, 181, 143,  49,  12, 176,  37, 177, 174,  38, 174, 135,
       181, 189, 174, 174, 135, 177,  68,  12, 107, 142,  72, 146, 174,
        48,  27, 191,  11, 184,  42,  48, 177, 176,  13, 174, 116, 135,
        34, 135, 135,  37, 153, 174,  13, 184, 174,  54, 133, 137,  13,
       105, 163, 135, 174, 130, 145, 176, 174, 205, 174, 119, 174, 174,
       173,  27, 125, 149, 177, 182, 206, 160,  20, 191, 174, 174, 124,
       125,  13, 113, 174, 174,  12, 135, 176, 151, 174,  55, 135, 157,
       207, 174, 174, 174, 184, 125, 135, 163, 123, 150, 125,  13, 145,
        72,  25, 176,  48, 135, 147, 125,  71,  27,  37, 174,  13, 184,
        21, 154, 135,   5, 135, 139, 107,  58,  60, 125, 157, 174, 174,
       205,  30, 163, 170, 195, 143,  13, 125, 174, 174,  35, 184, 174,
       174,   2,  61, 135, 163, 177, 133, 212, 143, 174, 180, 143, 107,
       182, 125, 181, 174, 125,  52, 125, 167,  35, 184,  37, 114,  70,
        72,  13, 191, 135, 174, 143, 173, 210, 135, 174, 104, 163, 174,
       174, 174, 184,  17, 127, 117,  65, 185, 135, 174, 126, 174, 174,
        15, 171, 174, 174,  66, 125,  40, 174, 173,  55, 209, 175, 135,
       135, 174, 125,  35,  13, 173, 143, 135, 174, 135, 182, 165, 220,
        79, 144, 149, 143, 174, 135, 120,  27, 176,  61, 174, 135, 174,
        91,   1, 135, 125,  85, 216, 135,  35,  27, 136,  96, 107, 184,
       171, 174,  27, 135, 163, 174,  85, 182, 135, 143, 205, 181, 205,
        78,  27, 115, 176, 181, 143, 181, 135, 125,  34, 111, 182,  17,
       217, 181, 174, 135, 135, 125, 103, 107,  73,  13,  48, 135, 174,
       135, 135, 174,  24, 173, 135, 184, 108,  33,  68, 125, 154, 135,
        27,  13,  23,  77,  75, 184,  51, 135, 107,   1, 129, 174, 135,
       174, 125,  86,  37,  99, 181, 205,  85, 143, 192, 135, 174,  68,
       174, 135, 135, 184, 182, 174, 163, 177, 174,  13,  36, 174, 135,
        49, 141, 125,  49, 107,  34, 174,  27, 165, 100, 107,   3, 161,
       143,  27, 143,  22, 191, 181, 168, 191, 143, 171, 136, 135,  13,
        32, 147, 107,  84,  35, 143, 177, 117, 134,  65, 107, 177, 135,
       146, 163, 140, 204, 181,  29, 135,  41, 117, 125, 117, 125,  48,
       136, 125, 208, 174, 132, 191, 135,  16,  18, 132, 174, 159, 177,
       174,  30, 191, 184, 182, 177, 177, 181,  47, 177, 143,  17, 191,
        36, 174, 109, 216, 117, 117,  38, 135, 143, 143,  30, 174, 135,
        12, 174, 174,  37, 177, 125, 135,  99, 117,  44, 143, 205, 181,
       181, 115,  94, 135,   5, 194, 163,  13, 181,  57,  55, 191,  27,
        98,  87, 128,   9, 125, 174, 125,  13, 176, 125, 181, 207, 135,
        38,  35,  97, 181, 135, 174, 165, 191,   8, 106, 121, 125, 125,
       173, 125, 135, 174,  55, 163, 107, 201, 188, 205,  99, 152, 181,
       135,  62,  67, 191, 135, 135, 176, 135, 125, 173, 184, 174,  13,
        65, 107, 117, 171, 192, 113, 131, 125,  55, 174,  29, 184, 174,
       169, 147, 152, 173,  35, 190, 177, 174,  43, 181,  74, 148,  37,
       184,  37,  35, 117, 174, 135,  31, 135, 184, 174, 117, 211, 160,
       117, 205, 143, 174,  24, 127,  48, 216,  38, 135, 174,  32, 135,
        32,  48,  13, 176,  64, 176, 125, 174,  13, 135, 125, 176, 165,
       207, 205,  72,  38,  35, 174,  12, 174,  81, 107, 202,  13,  38,
        80, 155,  12, 177, 180,  13, 174, 193,  37, 200,  37,  48, 119,
       163, 125,  69, 166, 162, 177,  32, 184, 218, 125,  40, 182, 174,
       174, 178,  81,  19, 145, 135, 176, 135, 173, 154, 174,  37, 191,
        90,  93, 125, 125,  92, 163,  13, 174, 174, 174,   1, 125, 135,
       152, 173, 135, 135,  50,  84,  37,  64, 125, 174, 177,  95, 184,
       176, 196, 158, 143, 135, 135, 108,  53, 145, 154, 174, 162, 174,
        68, 174, 135,  58,  55, 191, 125,  10, 177,  17, 163,  31, 135,
       191, 143, 219, 191, 135,  38, 143, 172, 107, 143, 174, 174, 184,
        17,   0,  56, 143, 138, 193, 191, 181, 198, 184,  40, 174, 135,
        72,  13, 177, 181, 177, 177, 177, 199, 174, 182,   7, 213, 184,
       143, 184, 157, 135,  46, 174, 174,  29,  48, 174, 143, 135, 174,
       181,  13,  63, 177,  76,  83, 173, 174, 125, 174,  35, 117,   0,
       125,  38,  38, 135,  37, 176, 143, 183,  92,  62, 174,   1, 174,
       115,  14,   4, 174, 154, 191, 143, 174, 102, 135,  37, 205, 135,
       173, 101, 135,  29, 143,  55, 181,  82, 176, 181, 177, 174, 125,
       135, 188, 174,  82, 135, 118, 135,  28, 174,  35, 191, 174, 181])